// Base colors
$colors: (blue: DodgerBlue, red: Red, green: LimeGreen, orange: Orange, pink: Fuchsia) !default

// LAYOUT
$max-width:               55rem !default
$sidebar_flex_direction:  row-reverse !default

// Heading margins
$headings-margins:        0.67 0.83 1 1.33 1.67 2.33 !default

// Rounded borders
$border-radius:           6px !default

// Mobile
$mobile-width:            700px !default