{% if include.schema %}
<form class='prevent-default document'{% if include.schema %} data-schema='{{ include.schema }}'{% endif %}{% if include.document %} data-document='{{ include.document }}'{% endif %}>
  <h3>Document</h3>{% if include.schema %}
  <p>Schema <i>{{ include.schema }}</i></p>{% endif %}

  <div inject></div>

<!-- BUTTONS -->
  <div data-type='button'>
    <input type='submit' value='Save'>
    <input type='reset'>
  </div>
</form>

{% else %}
Missing `schema` options in `{% raw %}{% include 'widgets/document.html' %}{% endraw %}`{:.language-liquid}
{% endif %}
{%- capture api -%}
## Document

Render a FORM to manage a document from a JSON schema.

```liquid
{% raw %}{% include widgets/document.html schema='schema-$id' %}{% endraw %}
```
{:.minimal}

**Includes**

- `schema`: `$id` value of the JSON schema for the document
{%- endcapture -%}