<form class='prevent-default schema-array'{% if include.schema %} data-schema='{{ include.schema }}'{% endif %}>
  <h3>Create schema</h3>
  <div data-type='string'>
    <label for='$id' markdown=1>`$id`: file path (no extension)</label>
    <input type='text' autocomplete='off' name='$id' required>
    <span markdown=1>Schema URI-reference inside `_data/`</span>
  </div>

<!-- ANNOTATIONS -->
  <div data-type='string'>
    <label for='title'>Title</label>
    <input type='text' autocomplete='off' name='title'>
  </div>
  <div data-type='string'>
    <label for='description'>Description</label>
    <input type='text' autocomplete='off' name='description'>
  </div>

  <!-- HIDDEN -->

  <input type='hidden' name='$schema' value='https://json-schema.org/draft/2020-12/schema'>
  <input type='hidden' name='type' value='array'>
  <input type='hidden' name='items[type]' value='object'>

  <div data-type='array'>
    <label class='fg-secondary'>Properties <a href='#add' data-add='property' class='prevent-default'>add</a></label>
  </div>

  <div properties-inject></div>

<!-- BUTTONS -->
  <div data-type='button'>
    <input type='submit' value='Save'>
    <input type='reset'>
  </div>
</form>

<!--
          PROPERTY TEMPLATE
-->
<template id='template-property'>
  <details class='border-top'>
    <summary><a href='#remove' data-remove='property' class='prevent-default'>remove</a></summary>
    <div data-type='string'>
      <label for='title'>Title</label>
      <input type='text' autocomplete='off' name='title'>
    </div>
    <div data-type='string'>
      <label for='description'>Description</label>
      <input type='text' autocomplete='off' name='description'>
    </div>
  <!-- PROPERTY TYPE -->
    <div data-type='select'>
      <label for='type'>Items type</label>
      <select name='type' required class='inline'>
        <option value='string'>String</option>
        <option value='number'>Number</option>
        <option value='integer'>Integer</option>
        <option value='boolean'>Boolean</option>
      </select>
    </div>

    <div type-inject></div>
  </details>
</template>

<!--
          STRING TEMPLATE
-->
<template id='template-string'>
  <div data-type='string'>
    <label for='format'>Format</label>
    <select name='format' class='inline'>
      <option value=''></option>
      <option value='textarea'>Textarea</option>
      <option value='color'>Color</option>
      <option value='email'>Email</option>
      <option value='uri'>Uri</option>
      <option value='time'>Time</option>
      <option value='date'>Date</option>
      <option value='date-time'>Date time</option>
      <option value='duration'>Duration</option>
    </select>
  </div>
  <details>
    <summary>String length</summary>
    <div data-type='number'>
      <label for='minLength'>Minimun length</label>
      <input type='number' name='minLength' min='0' step='1' pattern='\d+' data-value-type='number'>
      <span>Positive integer</span>
    </div>
    <div data-type='number'>
      <label for='maxLength'>Maximum length</label>
      <input type='number' name='maxLength' min='0' step='1' pattern='\d+' data-value-type='number' data-value-type-original='number'>
      <span>Positive integer</span>
    </div>
  </details>
  <div data-type='string'>
    <label for='pattern'>Pattern</label>
    <input type='text' autocomplete='off' name='pattern'>
    <span>ECMA-262 regular expression</span>
  </div>
</template>

<!--
          NUMBER TEMPLATE
-->
<template id='template-number'>
  <div data-type='string'>
    <label for='format'>Format</label>
    <select name='format' class='inline'>
      <option value=''></option>
      <option value='range'>Range</option>
    </select>
  </div>
  <details>
    <summary>Numeric range</summary>
    <div data-type='number'>
      <label for='minimum'>Minimun</label>
      <input type='number' name='minimum' data-value-type='number'>
      <span>Inclusive limit</span>
    </div>
    <div data-type='number'>
      <label for='maximum'>Maximum</label>
      <input type='number' name='maximum' data-value-type='number'>
      <span>Inclusive limit</span>
    </div>
    <div data-type='number'>
      <label for='exclusiveMinimum'>Exclusive minimum</label>
      <input type='number' name='exclusiveMinimum' data-value-type='number'>
      <span>Exclusive limit</span>
    </div>
    <div data-type='number'>
      <label for='exclusiveMaximum'>Exclusive maximum</label>
      <input type='number' name='exclusiveMaximum' data-value-type='number'>
      <span>Exclusive limit</span>
    </div>
  </details>
  <div data-type='number'>
    <label for='multipleOf'>Multiple of</label>
    <input type='number' name='multipleOf' min='0' data-value-type='number'>
    <span>Positive</span>
  </div>
  <div data-type='string'>
    <label for='units'>Units</label>
    <input type='text' autocomplete='off' name='units'>
  </div>
</template>

<!--
          INTEGER TEMPLATE
-->
<template id='template-integer'>
  <div data-type='string'>
    <label for='format'>Format</label>
    <select name='format' class='inline'>
      <option value=''></option>
      <option value='range'>Range</option>
    </select>
  </div>
  <details>
    <summary>Integer range</summary>
    <div data-type='number'>
      <label for='minimum'>Minimun</label>
      <input type='number' name='minimum' data-value-type='number'>
      <span>Inclusive limit</span>
    </div>
    <div data-type='number'>
      <label for='maximum'>Maximum</label>
      <input type='number' name='maximum' data-value-type='number'>
      <span>Inclusive limit</span>
    </div>
    <div data-type='number'>
      <label for='exclusiveMinimum'>Exclusive minimum</label>
      <input type='number' name='exclusiveMinimum' data-value-type='number'>
      <span>Exclusive limit</span>
    </div>
    <div data-type='number'>
      <label for='exclusiveMaximum'>Exclusive maximum</label>
      <input type='number' name='exclusiveMaximum' data-value-type='number'>
      <span>Exclusive limit</span>
    </div>
  </details>
  <div data-type='number'>
    <label for='multipleOf'>Multiple of</label>
    <input type='number' name='multipleOf' min='0' data-value-type='number'>
    <span>Positive</span>
  </div>
  <div data-type='string'>
    <label for='units'>Units</label>
    <input type='text' autocomplete='off' name='units'>
  </div>
</template>

<!--
          BOOLEAN TEMPLATE
-->
<template id='template-boolean'></template>

{%- capture api -%}
## Schema array

Form to create an array schema, require {% include widgets/github_link.html path='_includes/scripts/form.coffee' %} and {% include widgets/github_link.html path='_includes/scripts/schema-array.coffee' %} scripts.

**Form sections**

- `path`, `title` and `description` fileds
- `[properties-inject]` DIV for items properties
- `data-type='button'` section

**Templates**

- `#template-property`
- `#template-string`
- `#template-number`
- `#template-integer`
- `#template-boolean`

```liquid
{% raw %}{% include form/schema-array.html %}{% endraw %}
```
{:.minimal}

**Options**

- `schema`: path to a schema to edit in `_data` folder
{%- endcapture -%}