@media (max-width: $mobile-width)

  //
  // MAIN
  // --------------------------------------
  main .wrapper
    padding: 1em 1em

    // Stack sidebar
    flex-direction: column
    > aside:first-of-type
      position: static
      padding-bottom: 0

  //
  // HTML
  // --------------------------------------
  html
    // Reset anchors
    \:target
      scroll-margin-top: 0
      scroll-snap-margin-top: 0

  //
  // NAV
  // --------------------------------------
  nav
    // Remove sticky
    position: static !important

    .wrapper
      // Stack elements vertically (left)
      flex-direction: column
      align-items: start

      & > ul
        display: block
        padding-left: 1em
        padding-bottom: 1em
        li
          a, span
            padding: 0
          ul
            display: block
            position: static
            background: var(--bg)
            padding-left: 1em
            li
              a, span
                padding: 0

  .grid
    // Stack columns
    grid-template-columns: 1fr

  //
  // Footer
  // --------------------------------------
  footer .wrapper
    padding: 1em 1em

    // Stack lists
    flex-direction: column
    // Lists alignment
    ul
      text-align: left !important

  //
  // Headings
  // --------------------------------------
  // Spacing
  @for $index from 1 through length($headings-margins)
    $margin: nth($headings-margins, $index)
    h#{$index}
      margin-top: #{$margin*2}em

  // Tables
  section
    overflow-x: auto
  table, thead, tbody, th, td, tr
    display: block
  td, th
    text-align: left !important
    border-bottom-width: 0px !important
    &:empty
      display: none
    &:last-child
      border-bottom-width: 1px !important
    // &:not(:first-of-type)
    //   padding-top: 0 !important
    // &:not(:last-of-type)
    //   padding-bottom: 0 !important